body {
    text-align: center;
    font-family: Arial;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0%;
}

#vote {
    padding: 20px 20px;
    background-image: linear-gradient(#2e2e2e, #000000);
}

.button {
    outline: 5px solid;
    padding: 10px 10px;
    width: auto;
    color: #FFFFFF;
}

.button:hover {
    color: #E5B80B;
}

#about {
    padding: 20px 20px;
}

#categories {
    background-image: linear-gradient(#000000, #2e2e2e);
    padding: 20px 20px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.categorie {
    padding: 30px 20px;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #E5B80B;
    border-radius: 50%;
    display: inline-block;
  }

  h1, h2 {
    margin-bottom: 50px;
  }